<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Mercado Liebre Argentina -->
  <title>Mercado Liebre Argentina</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Bootstrap Grid Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
  <!-- Own Stylesheet -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container-fluid p-0">
    <header class="d-flex flex-wrap">
      <div class="col-5 col-md-2 logo">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
      </div>
      <div class="col-6 col-md-5 search-container d-flex">
        <input type="text" placeholder="Buscar productos, marcas y màs">
        <button type="submit" class="fas fa-search"></button>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center sub-header">
        <i class="fas fa-hand-holding-usd"></i>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
      <div class="col-12 d-flex justify-content-center button-header">
        <button type="submit" class="fas fa-bars p-0"></button>
      </div>
      <div class="col-md-12 justify-content-around container-navigation">
        <div class="col-md-5 d-flex p-0 justify-content-around navigation">
          <a href="">Ofertas</a>
          <a href="">Tiendas Oficiales</a>
          <a href="">Vender</a>
          <a href="">Ayuda</a>
        </div>
        <div class="col-md-5 d-flex justify-content-between navigation">
          <a href="">Creá tu cuenta<i class="fas fa-address-card"></i></a>
          <a href="">Ingresá<i class="fas fa-sign-in-alt"></i></a>
          <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a>
        </div>
      </div>
    </header>
    <section class="banner col-12 p-0">
      <img src="/images/img-home-banner.jpg" alt="Banner">
    </section>

    <h2 class="p-15 subtitle-product">Basado en tu última visita</h2>
    <section class="product-container col-12 d-flex flex-wrap justify-content-around">
      <article class="product col-12 col-md-5 p-0">
        <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
        <div class="col-12 p-0 d-flex align-items-center position-relative">
          <hr class="col-12 line-truck">
          <i class="fas fa-truck"></i>
        </div>
        <div class="product-inf col-12 d-flex align-items-center">
          <h3 class="m-0 product-inf-size">$6.770</h3>
          <h4 class="m-0 product-inf-off">40% OFF</h4>
          <p class="d-none">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
        </div>
      </article>
      <article class="product col-12 col-md-5 p-0">
        <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
        <div class="col-12 p-0 d-flex align-items-center position-relative">
          <hr class="col-12 line-truck">
          <i class="fas fa-truck"></i>
        </div>
        <div class="product-inf col-12 d-flex align-items-center">
          <h3 class="m-0 product-inf-size">$150.970</h3>
          <h4 class="m-0 product-inf-off">10% OFF</h4>
          <p class="d-none">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
        </div>
      </article>
      <article class="product col-12 col-md-5 p-0">
        <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
        <div class="col-12 p-0 d-flex align-items-center position-relative">
          <hr class="col-12 line-truck">
          <i class="fas fa-truck"></i>
        </div>
        <div class="product-inf col-12 d-flex align-items-center">
          <h3 class="m-0 product-inf-size">$54.230</h3>
          <h4 class="m-0 product-inf-off d-none"></h4>
          <p class="d-none">Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</p>
        </div>
      </article>
      <article class="product col-12 col-md-5 p-0">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
        <div class="col-12 p-0 d-flex align-items-center position-relative">
          <hr class="col-12 line-truck">
          <i class="fas fa-truck"></i>
        </div>
        <div class="product-inf col-12 d-flex align-items-center">
          <h3 class="m-0 product-inf-size">$89.410</h3>
          <h4 class="m-0 product-inf-off">20% OFF</h4>
          <p class="d-none">Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</p>
        </div>
      </article>
    </section>
    <h2 class="p-15 subtitle-product">Ofertas</h2>
    <section class="product-container col-12 d-flex flex-wrap justify-content-around">
      <article class="product col-12 col-md-5 p-0">
        <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
        <div class="col-12 p-0 d-flex align-items-center position-relative">
          <hr class="col-12 line-truck">
          <i class="fas fa-truck"></i>
        </div>
        <div class="product-inf col-12 d-flex align-items-center">
          <h3 class="m-0 product-inf-size">$6.770</h3>
          <h4 class="m-0 product-inf-off">40% OFF</h4>
          <p class="d-none">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
        </div>
      </article>
      <article class="product col-12 col-md-5 p-0">
        <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
        <div class="col-12 p-0 d-flex align-items-center position-relative">
          <hr class="col-12 line-truck">
          <i class="fas fa-truck"></i>
        </div>
        <div class="product-inf col-12 d-flex align-items-center">
          <h3 class="m-0 product-inf-size">$150.970</h3>
          <h4 class="m-0 product-inf-off">10% OFF</h4>
          <p class="d-none">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
        </div>
      </article>
      <article class="product col-12 col-md-5 p-0">
        <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
        <div class="col-12 p-0 d-flex align-items-center position-relative">
          <hr class="col-12 line-truck">
          <i class="fas fa-truck"></i>
        </div>
        <div class="product-inf col-12 d-flex align-items-center">
          <h3 class="m-0 product-inf-size">$54.230</h3>
          <h4 class="m-0 product-inf-off d-none"></h4>
          <p class="d-none">Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</p>
        </div>
      </article>
      <article class="product col-12 col-md-5 p-0">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
        <div class="col-12 p-0 d-flex align-items-center position-relative">
          <hr class="col-12 line-truck">
          <i class="fas fa-truck"></i>
        </div>
        <div class="product-inf col-12 d-flex align-items-center">
          <h3 class="m-0 product-inf-size">$89.410</h3>
          <h4 class="m-0 product-inf-off">20% OFF</h4>
          <p class="d-none">Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</p>
        </div>
      </article>
    </section>

    <footer>
      <div class="col-12 d-flex justify-content-center">
        <i class="fas fa-credit-card fa-2x"></i>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <h2>Pagá con tarjeta o en efectivo</h2>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
          seguro!</p>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <i class="fas fa-gift fa-2x"></i>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <h2>Envío gratis desde $ 1.999</h2>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
          Mercado Puntos.</p>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <i class="fas fa-user-shield fa-2x"></i>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <h2>Seguridad, de principio a fin</h2>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
          protegido.</p>
      </div>
      <hr>
      <div class="d-flex justify-content-start">
        <p class="end-footer">Copyright© 1999-2019 MercadoLiebre S.R.L.</p>
      </div>
    </footer>

  </div>
  <!--Jquery-->
  <script src="/javascripts/jquery-3.4.1.slim.min.js"></script>
  <!--Popper-->
  <script src="/javascripts/popper.min.js"></script>
</body>

</html>