* {
  font-family: "Roboto", sans-serif;
}

body {
  background: #ebebeb;
  margin: 0px;
}

header {
  background: #eac926;
  padding-top: 15px;
}

.search-container {
  background-color: white;
  border-radius: 3px;
  padding: 5px 0;
  height: 30px;
}

.search-container input {
  border: 0;
  width: 80%;
}

.search-container button {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  color: grey;
}

.container-navigation {
  display: none;
}

.sub-header {
  margin: 15px 0;
}

.sub-header p {
  margin: 0;
  font-size: 14px;
}

.button-header {
  margin-bottom: 12px;
}

.button-header button {
  background-color: #03264c;
  border: 0;
  border-radius: 3px;
  color: white;
  height: 25px;
  width: 34px;
}

.banner img {
  width: 100%;
}

h2 {
  color: #666666;
  font-size: 24px;
  padding-left: 15px;
}

.product {
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}
.product img {
  border-radius: 10px;
  width: 100%;
}

hr {
  border: 1px solid #ebebeb;
}

.fa-truck {
  background-color: white;
  border: 1px solid #39b54a;
  border-radius: 50%;
  color: #39b54a;
  margin-right: 10px;
  padding: 5px;
  position: absolute;
  right: 0;
}

.product-inf {
  padding: 15px 10px;
}

.product-inf-size {
  font-weight: 400;
}

.product-inf-off {
  color: #39b54a;
  font-weight: 400;
  padding-left: 10px;
}

footer {
  padding-top: 20px;
  background-color: white;
}

footer i {
  color: #1259c3;
}

footer h2 {
  font-size: 20px;
  padding: 0px;
}

footer p {
  text-align: center;
  padding: 0px 15px;
}

.end-footer {
  color: grey;
  font-size: small;
}

@media (min-width: 768px) {
  header{
    padding-left: 30px;

  }

  .search-container{
    margin-right: 30px;
  }
  
  .search-container input {
    width: 90%;
  }

  .sub-header {
    margin: 0;
    margin-left: 20px;
  }

  .button-header{
    display: none!important;
  }

  .container-navigation{
    display: flex;
  }

  .navigation{
    margin: 15px 0;
    font-style: normal;
    font-size: 14px;
    padding: 0;
  }

  .navigation a{
    text-decoration: none;
    color: black;
  }
  

  .subtitle-product {
    padding-left: 45px;
  }
}